@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    max-height: 8vh;
    background-color: #ffffff;;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #bbb;
    z-index: 100;
}
  
.heading {
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
}
  
.nav-links {
    display: flex;
    justify-content: space-around;
}
  
.nav-links li {
    list-style: none;
}
  
.nav-links a {
    color: #333333;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}
  
.nav-links a:hover {
    color: #04AA6D;
}

section {
    padding: 75px;
}

p {
    font-size: 1.6vw;
    margin: 20px 0;
    font-weight: 300;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.8vw;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;

    color: #00bcd4;

    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 1px;
}

.title h1 {
    margin-top: 15px;
    max-width: 80%;
    display: inline-block;
    font-weight: 500;
    font-size: 2vw;
}

.title h2::before {
    content: "";
    background-color: #333333;

    position: absolute;
    left: 50%;
    bottom: -10px;

    width: 60px;
    height: 4px;

    transform: translateX(-50%);
}

.title.white h1,
.title.white h2,
.title.white h3,
.title.white h4 {
    color: #ffffff;
}

.title.blue h1,
.title.blue h2,
.title.blue h3,
.title.blue h4 {
    color: #00bcd4;
}

.title.white h2::before {
    background-color: #ffffff;
}

.title.blue h2:before {
    background-color: #ffffff;
}

.banner {
    margin-top: 8vh;
    background-color: #333333;
}

.banner.top p {
    margin-left: 15%;
    margin-right: 15%;
}

.banner p {
    color: #ffffff;
    text-align: center;
    font-size: 1.3vw;
    margin-top: 30px;
}

.banner .content h3 {
    color: #ffffff;
    margin: 35px 20% 15px 20%;
}

.banner .content li {
    color: #ffffff;
    margin: 0 20% 0 20%;
    font-size: 1.3vw;
    padding-bottom: 8px;
}

.bannerPhoto {
    position: absolute;
    justify-content: center;
    width: 15%;
    height: fit-content;
    top: 17vh;
    right: 5%;
    transform: rotate(15deg);
}

.bannerPhoto p {
    position: absolute;
    top: -30%;
    left: -10%;
}

.bannerPhoto img {
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 20px;
}

.skills {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 0;
}

.skills .skillgrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    text-align: center;
}

.skills .softwaregrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    text-align: center;
}

.skills h3 {
    margin: 20px 0 5px 0;
}

.skills .skillbox {
    margin: 5px;
    border-radius: 25px;
    background: #73AD21;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 1.3vw;
}

.skills .softwarebox {
    margin: 5px;
    border-radius: 25px;
    background: #2796db;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 1.3vw;
}

.skills .complementary_skillbox {
    margin-top: 25px;
    margin-left: 2vw;
    margin-right: 2vw; 
    width: 18vw;
}

.skills .complementary_skillbox img {
    max-height: 10vw;
}

.skills .complementary_skillbox h4 {
    font-size: 1.4vw;
}

.skills .complementary_skillbox p {
    font-size: 1.1vw;
}

.portfolio .content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    text-align: center;
}

.portfolio a {
    text-decoration: none;
    color: #333333;
}

.portfolio .content .portfolioBox {
    position: relative;

    width: 20vw;
    height: 25vw;

    text-align: center;
    margin: 10px;

    transition: 0.5s;
}

.portfolio .content .portfolioBox:hover {
    cursor: pointer;
    background-color: #ddd;
}

.portfolio .content .portfolioBox .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    height: 60%;
    width: 60%;
}

.portfolio .content .portfolioBox .imgBox  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.portfolio .content .portfolioBox:hover  {
    opacity: 0.95;
}

.portfolio .content .portfolioBox .textBox h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2vw;
}

.portfolio .content .portfolioBox .textBox ul {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.portfolio .content .portfolioBox .textBox li {
    display: inline-block;
}

.portfolio .content .portfolioBox .textBox .skillbox {
    margin: 1px;
    border-radius: 25px;
    background: #73AD21;
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-size: 0.7vw;
}

.portfolio .content .portfolioBox .textBox .softwarebox {
    margin: 1px;
    border-radius: 25px;
    background: #2796db;
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-size: 0.7vw;
}

.portfolio .content .portfolioBox p {
    font-size: 0.9vw;
    margin: 5px 0 20px 0;
}

.portfolioContent {
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    
    margin-top: 5vh;
    color: #333333;
}

.portfolioContent .skills {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.portfolioContent .skills .skillgrid {
    justify-content: start;
}

.portfolioContent .skills .softwaregrid {
    justify-content: start;
}

.portfolioContent p {
    font-size: 1.2vw;
}

.portfolioContent ul {
    margin-left: 3%;
    margin-right: 3%;
}

.portfolioContent .list_p {
    margin: 5px;
}

.portfolioContent .list_p b {
    font-weight: 600;
}

.portfolioContent .imgBox {
    display: grid;
    justify-content: center;
}

.portfolioContent .imgBox.portrait_box {
    grid-template-columns: auto auto auto auto;
}

.portfolioContent .imgBox.landscape_box {
    grid-template-columns: auto auto;
}

.portfolioContent .imgBox .portrait_img {
    padding: 20px;
    max-height: 43vw;
    margin: auto;
}

.portfolioContent .imgBox .landscape_img {
    padding: 10px;
    height: 22.5vw;
    margin: auto;
}

.portfolioContent video {
    max-width: 50vw;
    max-height: 41vw;
    display: block;
    margin: auto;
}

.reference .content {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.reference .content .referenceBox a {
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.reference .content .referenceBox a img {
    width: 33%;
}

.contact {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .icon_links {
    display: inline-flex;
}

.contact .icon_links a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
}

.contact .email {
    color: #ddd;
}

@media (max-width: 991px) {
    .banner h4 {
        font-size: 3vw;
    }
    .banner .imgSidebar {
        display: none;
    }
    .banner {
        width: 100%;
        padding: 40px;
    }
    .logoText {
        left: 40px;
    }
    .toggle,
    .contentToggle  {
        right: 40px;
        width: 5vw;
        height: 5vw;
        background-size: 4vw;
    }
    .toggle.active,
    .contentToggle.active  {
        right: 40px;
        width: 4.5vw;
        height: 4.5vw;
        background-size: 4vw;
    }
    .sci {
        left: 40px;
    }
    p {
        font-size: 2.5vw;
    }
    h3 {
        font-size: 3.5vw;
    }  
    h4 {
        font-size: 3vw;
    }
    .title h2 {
        font-size: 4vw;
    }
    section {
        padding: 40px;
    }
    .portfolio .content {
        flex-direction: column-reverse;
    }
    .portfolio .content img {
        align-self: center;
        width: 75%;
    }
    .sidebar ul li a {
        font-size: 2vw;
    }
}

@media (max-width: 500px) {
    .banner h4 {
        font-size: 4vw;
    }
    p {
        font-size: 3.5vw;
    }
    h3 {
        font-size: 4.5vw;
    }  
    h4 {
        font-size: 4vw;
    }
    .title h2 {
        font-size: 5vw;
    }
    .portfolio .content .portfolioBox {
        width: 31vw;
        height: 31vw;
        margin: 5px;
        padding: 10px 20px;
    }
    .reference .content .referenceBox figcaption {
        font-size: 3vw;
    }
}